*{
    padding: 0;
    margin: 0;
    padding: 0;
    
}
body{
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(150deg, #121212, #33302E);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
}
.botoes{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 12px;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #33302E;

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #33302E;
    width: 100vw;
    height: calc(100vh - 80px);
}